.icon-compressor {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  min-width: 42px;
  height: 38px;
}
.icon-drill {
  background-image: url(../../img/sprite.png);
  background-position: -42px 0px;
  min-width: 42px;
  height: 38px;
}
.icon-industrial-robot {
  background-image: url(../../img/sprite.png);
  background-position: 0px -38px;
  min-width: 35px;
  height: 42px;
}
.icon-welding-holder {
  background-image: url(../../img/sprite.png);
  background-position: -35px -38px;
  min-width: 38px;
  height: 37px;
}
.icon-welding-machine {
  background-image: url(../../img/sprite.png);
  background-position: -84px 0px;
  min-width: 30px;
  height: 43px;
}
.icon-welding-mask {
  background-image: url(../../img/sprite.png);
  background-position: -114px 0px;
  min-width: 26px;
  height: 40px;
}