//color
$white:           #ffffff;
$black:           #000000;
$gray:            #a2a2a2;
$blue:            #0000ff;
$yellow:          #fed400;
$liteRed:         #f35f52;
$liteBlack:       #191928;

$liteGreen:       #1db1ae;
$liteGreenHover:  #289492;
$liteGreenActive: #267e7c;


$outlineColor:    #4D90FE;

$formCheckColorBg:       #f3f4f8;
$contactFormColorBorder: #999999;

//font-family
$primaryFontFamily: 'PF Din Text Cond Pro';

// font-weight
$thinFont:        100;
$exstraLightFont: 200;
$lightFont:       300;
$regularFont:     400;
$mediumFont:      500;
$semiBoldFont:    600;
$boldFont:        700;
$extraBoldFont:   800;
$blackFont:       900;